 /* different screen/devices */
/* $small-width: 360px; */
/* $phone-width: 500px; */
/* $tablet-width: 768px; */
/* $desktop-width: 1024px; */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html, *, ::before, ::after{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
}


:root{
   --bg-clr-blue:#00246B;
   --bg-clr-light-blue:#8AB6F9;
   --bg-clr-grey:#CADCFC;
    /* selection */
    --primary-clr-1: #0077b6;
  --primary-clr-2: #023e8a;
  --primary-clr-3: #48cae4;
  --primary-clr-4: #d4563a;
  --primary-clr-5: #3898ec;
  --natural-clr-1: #e7fbff;
  --natural-clr-2: #80858f;
  --natural-clr-3: #0c0c0c;
  --natural-clr-4: #043676;
  --natural-clr-5: #1e1717;
  --natural-clr-6: #fbf4f4;
  --natural-clr-7: #dddddd;
  --natural-clr-8: #333333;
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-red: #FF0000;
  --btn-clr: linear-gradient(270deg, #030b63, #0179af);
  --style-clr-1: rgba(0, 119, 182, 0.95);
  --style-clr-2: rgba(3, 43, 69, 0.92);
  --transition: 300ms ease-in-out;
  --line-height: 1.08;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.items-container{
  width: 90%;
  margin: 0px auto;
}
.collapse {
    /* visibility: collapse; */
    visibility: visible !important;
}
